body{
    background-color: white;
}
div{
    width: 100px;
    height: 80px;
    background-image: url(../OSAIRIS.png);
    background-repeat: no-repeat;
    background-size: 200px 400px;
    background-attachment: fixed;
    background-position: center;
}
div:nth-of-type(2){
    width: 1000px;
    height: 800px;
    background: #ce0505 url(../gg.png) no-repeat center 450px 600px;
}